In [732]:
import pandas as pd
import re
from IPython.display import Markdown, display
from collections import Counter
import networkx as nx

def periodize_dates(dates:list=[], delta:datetime.timedelta=timedelta(days=14), dateformat='%Y-%m-%d'):
    """https://gist.github.com/kallewesterling/9a8d12ce073776ed52865bfb362ad073"""

    try:
        dates = sorted([datetime.datetime.strptime(x, dateformat) for x in dates])
    except ValueError as e:
        date = re.search(r'''['"](.*)['"] does not match format''', str(e))
        if date:
            date = date.groups()[0]
        raise ValueError(f'A date found in list that did not adhere to format (`{date}`). Needs to follow format `{dateformat}`.') from None

    if isinstance(delta, int):
        delta = timedelta(days=delta)

    periods = []

    for ix, date in enumerate(dates):
        min_date = date - delta
        max_date = date + delta

        prev_date, next_date = None, None
        start_chain, end_chain, in_chain, solo_date = None, None, None, None
        prev_date_in_range, next_date_in_range = None, None

        try:
            if ix-1 >= 0:
                prev_date = dates[ix-1]
        except IndexError:
            prev_date = None

        try:
            next_date = dates[ix+1]
        except IndexError:
            next_date = None

        if next_date:
            next_date_in_range = next_date >= min_date and next_date <= max_date

        if prev_date:
            prev_date_in_range = prev_date >= min_date and prev_date <= max_date

        if all([next_date, prev_date, prev_date_in_range, next_date_in_range]):
            # In the loop and in a chain (near previous date and next)
            in_chain = True
        elif all([next_date, prev_date, next_date_in_range]) and not prev_date_in_range:
            # In the loop and beginning of a chain (not near previous date but near next)
            start_chain = True
        elif all([next_date, prev_date, prev_date_in_range]) and not next_date_in_range:
            # In the loop and end of a chain (near previous date but not next)
            end_chain = True
        elif all([next_date, prev_date]) and not all([prev_date_in_range, next_date_in_range]):
            # In the loop but solo date (not not near previous date nor next)
            solo_date = True
        elif next_date and next_date_in_range:
            # In the loop but solo date (not not near previous date nor next)
            start_chain = True
        elif next_date:
            solo_date = True
        elif prev_date and prev_date_in_range:
            end_chain = True
        elif prev_date:
            solo_date = True
        elif not next_date and not prev_date:
            solo_date = True
        else:
            raise RuntimeError('An unexpected error occurred.')

        if start_chain:
            periods.append([date])

        elif end_chain:
            periods[len(periods)-1].append(date)

        elif solo_date:
            periods.append([date])

        elif in_chain:
            periods[len(periods)-1].append(date)
            
    return periods


# Data clean up functions
def has_required_data(row):
    '''(internal) for use with DataFrame lambda function to ensure that any given row has the required data present'''
    has_performer = row['Performer'] != '' or row['Normalized performer'] != '' or (row['Performer first-name'] != '' or row['Performer last-name']) != ''
    # has_city = row['City'] or row['Normalized City']
    has_venue = row['Venue'] != ''
    if has_performer and has_venue:
        return True
    else:
        return False

def has_correct_date(row):
    '''(internal) for use with DataFrame lambda function to ensure that any given row has a correct date present'''
    return re.search(r'\d{4}\-\d{2}\-\d{2}', row['Date']) != None


def get_performer(row, null_value=''):
    '''(internal) for use with DataFrame lambda function to return the cleaned-up version of a performer's name (in an order of priority)'''

    if row['Performer first-name'] and row['Performer last-name']:
        return row['Performer first-name'] + ' ' + row['Performer last-name']
    
    for r in ['Normalized performer', 'Performer']
        if row[r]:
            return row[r]
    
    return null_value

    
def get_city(row, null_value=''):
    '''(internal) for use with DataFrame lambda function to return the cleaned-up version of a city's name (in an order of priority)'''
    for r in ['Normalized City', 'City']
        if row[r]:
            return row[r]
    
    return null_value


def get_unique_venue(row, null_value=''):
    '''(internal) for use with DataFrame lambda function to return the cleaned-up version of a venue's name (in an order of priority)'''
    if row['Venue'] and row['City']:
        return row['Venue'] + ' (' + row['City'] + ')'
    
    for r in ['Venue', 'City']
        if row[r]:
            return row[r]

    return null_value


def get_source(row, null_value=''):
    '''(internal) for use with DataFrame lambda function to return the cleaned-up version of a source (in an order of priority)'''
    for r in ['Source clean', 'Source']
        if row[r]:
            return row[r]

    return null_value


def get_revue(row, null_value=''):
    '''(internal) for use with DataFrame lambda function to return the cleaned-up version of a revue's name (in an order of priority)'''
    for r in ['Normalized Revue Name', 'Revue name']
        if row[r]:
            return row[r]
    
    return null_value

**7995 rows imported.**

In [735]:
# Fix basic stuff
df.replace('—', '', inplace=True)
df.replace('–', '', inplace=True)
df.fillna('', inplace=True)

In [736]:
# Filter
df.drop(df[df['Exclude from visualization'] == True].index, inplace=True)
Markdown(f'**{df.shape[0]} rows after filtering**: Exclusion from visulization.')

**7971 rows after filtering**: Exclusion from visulization.

In [737]:
# Filter
df.drop(df[df['Unsure whether drag artist'] == 'TRUE'].index, inplace=True)
Markdown(f'**{df.shape[0]} rows after filtering**: Unsure whether drag artist.')

**7494 rows after filtering**: Unsure whether drag artist.

In [738]:
df['has_required_data'] = df.apply(lambda row: has_required_data(row), axis=1)
df.drop(df[df['has_required_data'] == False].index, inplace=True)
Markdown(f'**{df.shape[0]} rows after filtering**: Required data.')

**5518 rows after filtering**: Required data.

In [739]:
df['has_correct_date'] = df.apply(lambda row: has_correct_date(row), axis=1)
df.drop(df[df['has_correct_date'] == False].index, inplace=True)
Markdown(f'**{df.shape[0]} rows after filtering**: Full date in `Date` column.')

**5456 rows after filtering**: Full date in `Date` column.

In [740]:
# Clean up names
df['Performer'] = df.apply(lambda row: get_performer(row), axis=1)
df['City'] = df.apply(lambda row: get_city(row), axis=1)
df['Source'] = df.apply(lambda row: get_source(row), axis=1)
df['Revue'] = df.apply(lambda row: get_revue(row), axis=1)
df['Unique venue'] = df.apply(lambda row: get_unique_venue(row), axis=1)
Markdown(f'_Cleaned up all names_.')

_Cleaned up all names_.

In [741]:
# Drop *node* information - i.e. not relevant for edges
node_information = {}
node = {
    'Legal name': None,
    'Alleged age': None,
    'Assumed birth year': None,
    'Source': None
}
for ix, row in df.iterrows():
    if row['Legal name'] or row['Alleged age'] or row['Assumed birth year']:
        if row['Performer'] not in node_information:
            node_information[row['Performer']] = []
        
        d = node
        for cat in ['Legal name', 'Assumed birth year', 'Alleged age', 'Source']:
            d[cat] = row[cat]
            
        node_information[row['Performer']].append(d)
Markdown(f'_Extracted node information_.')

_Extracted node information_.

In [742]:
# Drop unnecessary information
cols = ['Revue name', 'Normalized Revue Name', 'Legal name', 'Alleged age', 'Assumed birth year', 'Source clean', 'Category', '2020-12-31 ID', 'Normalized City', 'Performer first-name', 'Performer last-name', 'Normalized performer', 'has_required_data', 'has_correct_date', 'Exclude from visualization', 'Unsure whether drag artist']
for col in cols:
    try:
        del df[col]
    except KeyError:
        pass # already gone
Markdown(f'_Removed all unneccesary columns_:' + '\n - ' + '\n -'.join(cols))

_Removed all unneccesary columns_:
 - Revue name
 -Normalized Revue Name
 -Legal name
 -Alleged age
 -Assumed birth year
 -Source clean
 -Category
 -2020-12-31 ID
 -Normalized City
 -Performer first-name
 -Performer last-name
 -Normalized performer
 -has_required_data
 -has_correct_date
 -Exclude from visualization
 -Unsure whether drag artist

In [743]:
all_venues = list(set([x for x in df['Unique venue']]))

dfs = {}
for venue in [x for x in all_venues]:
    dfs[venue] = {'df': df[df['Unique venue'] == venue], 'count': 0}
    for col in dfs[venue]['df'].columns:
        if not col in ['Date', 'Performer', 'Unique venue', 'City', 'Source']:
            del dfs[venue]['df'][col]
    dfs[venue]['count'] = len(dfs[venue]['df'])
    dfs[venue]['all_dates'] = sorted(list(set([x for x in dfs[venue]['df']['Date']])))
    dfs[venue]['periodized_dates'] = periodize_dates(dfs[venue]['all_dates'], timedelta(days=14))

In [745]:
# df['venue-link'] = ''

In [746]:
venue_connections = {}
for venue in dfs:
    if not venue in venue_connections:
        venue_connections[venue] = {}
    for period, dates in enumerate(dfs[venue]['periodized_dates'], start=1):
        if not period in venue_connections[venue]:
            venue_connections[venue][period] = {'dates': [], 'performers': []}
        for date in dates:
            venue_connections[venue][period]['dates'].append(date.strftime('%Y-%m-%d'))
            for x, y in dfs[venue]['df'][dfs[venue]['df']['Date'] == date.strftime('%Y-%m-%d')].iterrows():
                venue_connections[venue][period]['performers'].append(y['Performer'])
        venue_connections[venue][period]['performers'] = list(set(venue_connections[venue][period]['performers']))
        venue_connections[venue][period]['dates'] = sorted(list(set(venue_connections[venue][period]['dates'])))

In [788]:
performer_connections = {}

for venue, venue_connection in venue_connections.items():
    for _, data in venue_connection.items():
        for performer_out in data['performers']:
            other_performers = [x for x in data['performers'] if not x == performer_out]
            weight = len(data['dates'])
            min_date = min([datetime.datetime.strptime(x, '%Y-%m-%d') for x in data['dates']])
            max_date = max([datetime.datetime.strptime(x, '%Y-%m-%d') for x in data['dates']])
            if not other_performers:
                pass # Only one performer appeared in the period
            for performer_in in other_performers:
                if not performer_out in performer_connections:
                    performer_connections[performer_out] = []
                performer_connections[performer_out].append((performer_in, weight, venue, min_date, max_date))

In [795]:
G = nx.MultiDiGraph()

for source, connections in performer_connections.items():
    for connection in connections:
        target, weight, venue, min_date, max_date = connection
        G.add_edges_from([(source, target, weight, {'venue': venue, 'min_date': min_date.strftime('%Y-%m-%d'), 'max_date': max_date.strftime('%Y-%m-%d')})])

In [796]:
nx.write_gexf(G=G, path='test.gexf')

[datetime.datetime(1931, 12, 13, 0, 0)]
[datetime.datetime(1932, 2, 6, 0, 0)]
[datetime.datetime(1932, 2, 26, 0, 0), datetime.datetime(1932, 3, 4, 0, 0), datetime.datetime(1932, 3, 5, 0, 0), datetime.datetime(1932, 3, 7, 0, 0), datetime.datetime(1932, 3, 11, 0, 0), datetime.datetime(1932, 3, 15, 0, 0)]
[datetime.datetime(1932, 9, 16, 0, 0)]
[datetime.datetime(1933, 2, 24, 0, 0)]
[datetime.datetime(1933, 11, 18, 0, 0)]
[datetime.datetime(1934, 1, 18, 0, 0), datetime.datetime(1934, 1, 20, 0, 0), datetime.datetime(1934, 1, 25, 0, 0), datetime.datetime(1934, 1, 27, 0, 0), datetime.datetime(1934, 1, 28, 0, 0), datetime.datetime(1934, 2, 1, 0, 0), datetime.datetime(1934, 2, 3, 0, 0), datetime.datetime(1934, 2, 5, 0, 0), datetime.datetime(1934, 2, 6, 0, 0), datetime.datetime(1934, 2, 7, 0, 0), datetime.datetime(1934, 2, 8, 0, 0)]
[datetime.datetime(1934, 3, 1, 0, 0)]
[datetime.datetime(1934, 5, 19, 0, 0), datetime.datetime(1934, 5, 24, 0, 0)]
[datetime.datetime(1934, 6, 28, 0, 0), datetime.datetime(1934, 6, 29, 0, 0), datetime.datetime(1934, 7, 5, 0, 0), datetime.datetime(1934, 7, 12, 0, 0)]
[datetime.datetime(1934, 8, 2, 0, 0), datetime.datetime(1934, 8, 6, 0, 0), datetime.datetime(1934, 8, 9, 0, 0)]
[datetime.datetime(1934, 9, 6, 0, 0), datetime.datetime(1934, 9, 13, 0, 0)]
[datetime.datetime(1934, 10, 17, 0, 0), datetime.datetime(1934, 10, 18, 0, 0), datetime.datetime(1934, 10, 25, 0, 0), datetime.datetime(1934, 11, 1, 0, 0)]
[datetime.datetime(1934, 12, 13, 0, 0), datetime.datetime(1934, 12, 15, 0, 0), datetime.datetime(1934, 12, 20, 0, 0), datetime.datetime(1934, 12, 27, 0, 0), datetime.datetime(1935, 1, 3, 0, 0), datetime.datetime(1935, 1, 10, 0, 0)]
[datetime.datetime(1935, 4, 14, 0, 0)]
[datetime.datetime(1935, 4, 30, 0, 0)]
[datetime.datetime(1935, 6, 2, 0, 0)]
[datetime.datetime(1935, 9, 26, 0, 0), datetime.datetime(1935, 10, 1, 0, 0)]
[datetime.datetime(1935, 11, 2, 0, 0), datetime.datetime(1935, 11, 5, 0, 0), datetime.datetime(1935, 11, 7, 0, 0), datetime.datetime(1935, 11, 9, 0, 0), datetime.datetime(1935, 11, 14, 0, 0)]
[datetime.datetime(1935, 12, 7, 0, 0)]
[datetime.datetime(1935, 12, 24, 0, 0)]
[datetime.datetime(1936, 2, 8, 0, 0), datetime.datetime(1936, 2, 15, 0, 0), datetime.datetime(1936, 2, 22, 0, 0), datetime.datetime(1936, 2, 29, 0, 0), datetime.datetime(1936, 3, 7, 0, 0), datetime.datetime(1936, 3, 14, 0, 0), datetime.datetime(1936, 3, 21, 0, 0), datetime.datetime(1936, 3, 28, 0, 0), datetime.datetime(1936, 4, 4, 0, 0), datetime.datetime(1936, 4, 11, 0, 0), datetime.datetime(1936, 4, 15, 0, 0)]
[datetime.datetime(1936, 5, 9, 0, 0)]
[datetime.datetime(1944, 12, 6, 0, 0)]

In [381]:
for venue, count in venue_count.most_common():
    if count > 1:
        all_dates = sorted(list(set([x for x in dfs[venue]['Date']])))
        print(venue, len(all_dates), len(chunk_dates(all_dates, timedelta(days=14))))
        print()

K9 Club (Chicago, IL) 39 13

Echo Tavern (Albany, NY) 82 10

Kelly's Torch Club (Miami, FL) 26 3

Club Washington (East Liverpool, OH) 30 3

Torch Club (Miami, FL) 31 9

Ha-Ha Club (Miami, FL) 46 11

Club Frontenac (Detroit, MI) 55 20

The Bandbox (Cincinnati, OH) 22 3

Torch K9 Club (Miami, FL) 9 3

Club Richman (New York, NY) 69 35

Smith's Tavern (Albany, NY) 15 5

La Villa (Syracuse, NY) 17 5

Terrace Gardens (Warren, PA) 35 3

Club Top Hat (Detroit, MI) 14 6

Little Club (Saratoga Springs, NY) 11 4

Paddock (Miami, FL) 43 8

Finocchio's (San Francisco, CA) 31 30

Dwan's Recreation Gardens (Benton Harbor, MI) 10 3

Ellinee Village Inn (Benton Harbor, MI) 10 5

Cabin Inn (Chicago, IL) 15 15

Topper Cafe (Philadelphia, PA) 17 5

New Look Club (Cincinnati, OH) 13 6

Club Ambassador (Dayton, OH) 6 3

Riverside Grille (Hartford, CT) 7 3

Club Florida (New York, NY) 10 5

Band Box (Syracuse, NY) 10 1

Sabella's (New York, NY) 11 9

Joe’s Deluxe (Chicago, IL) 13 13

Bird's Cage (New York, NY) 6 4

Variety Club (Baltimore, MD) 9 8

Palais Royal (Lansing, MI) 6 1

Silver Dollar Tops Club (Sacramento, CA) 9 8

Club La Masque (Chicago, IL) 5 3

White's Elbow Room (Detroit, MI) 25 1

The Broadway (Jamestown, NY) 6 1

Elm Lodge (Syracuse, NY) 15 6

Wonder Bar (Nassau, NY) 7 3

The Dog House (Reno, NV) 13 2

Danny & Doc's Club Jewel Box (Miami, FL) 28 3

Falcon Show Bar 30 5

The Plantation (Olean, NY) 3 3

Yacht Club (Sacramento, CA) 6 1

Tiny's Chateau (Pottstown, PA) 12 6

Forrest Inn (Hazleton, PA) 5 1

Talk o' the Town (Tucson, AZ) 14 1

Rockland Palace (New York, NY) 3 3

Anchor Nite Club (Sandusky, OH) 11 3

Kitty Davis Theater Restaurant (Miami, FL) 13 1

Torch Club (Massillon, OH) 5 3

Five O'Clock Club (Miami, FL) 19 1

Boulevard Club (Miami, FL) 6 1

Torch Club (Cleveland, OH) 7 7

The Paddock (Louisville, KY) 2 1

Rouge Lounge 17 3

Carnival Show Bar (Detroit, MI) 10 3

Thunder Bird Nite Club 16 1

Majestic Theatre (New York, NY) 4 1

Pioneer Club (New York, NY) 14 8

New Look Club (Newport, KY) 4 1

Valle's Inn (Portland, ME) 7 1

Havana Madrid (Miami, FL) 16 3

Knolls Inn (Wappingers Falls, NY) 4 1

Apollo Theatre (New York, NY) 2 2

Dixie Grove (South Bend, IN) 1 1

Wonder Bar (Zanesville, OH) 3 3

9 Mile House (Cincinnati, OH) 1 1

Club Abbey (New York, NY) 11 8

Club Manhattan (Detroit, MI) 14 3

Silver Slipper (Shreveport, LA) 4 1

Wagon Wheel (Nashville, TN) 1 1

Spinning Wheel (Seattle, WA) 4 4

The Pansy Club (New York, NY) 4 2

Italian Villa (Pittsburgh, PA) 2 2

K.E.P. Restaurant (Buffalo, NY) 3 2

B.B.B.'s (Los Angeles, CA) 3 3

Richter's (Sheboygan, WI) 12 1

Tait's Cafe (San Francisco, CA) 3 1

Castle Farms Nite Club (Detroit, MI) 2 2

Hollywood Supper Club (Rock Island, IL) 2 2

Tony's 8 1

Martin's Nite Club (Lima, OH) 3 1

Wosyk's Show Bar (Racine, WI) 8 1

Club Lido (Youngstown, OH) 1 1

Frank White's (Buffalo, NY) 1 1

Nut Club (New York, NY) 9 6

Flamingo Club (Los Angeles, CA) 10 10

Three O'Clock Club (Palm Beach, FL) 11 1

Club Calais (New York, NY) 4 4

Club New Yorker (Los Angeles, CA) 10 6

Ball of Fire (Kenosha, WI) 10 3

Dante's Inferno (Kansas City, MO) 2 2

Connie's Inn (New York, NY) 2 1

Mike's (West Palm Beach, FL) 10 1

Club 22 (Miami, FL) 9 1

Brownie's Marble Grill (Rochester, NY) 9 4

Warburton Theatre (New York, NY) 6 3

The Bowery (Minneapolis, MN) 2 2

Club Jewel Box (Miami, FL) 10 6

Club Rendezvous (Pensacola, FL) 2 1

Blue Angel (New York, NY) 7 7

Coyne Club (Scranton, PA) 2 1

Joe's Deluxe (Chicago, IL) 3 3

Loew's State (New York, NY) 6 6

Fox Theatre (New York, NY) 6 5

J. R. Edwards Shows (OH) 1 1

King's Terrace (New York, NY) 2 2

Jungle Inn (Youngstown, OH) 4 4

Club Piccadilly (Baltimore, MD) 3 3

Stork Club (Shreveport, LA) 8 1

Louie's 29 Club 7 3

Forbidden City (Honolulu, HI) 7 4

Bushwick Theatre (New York, NY) 4 4

President Cafe (St. Louis, MO) 1 1

Piccadilly Lounge 6 1

Subway Lounge (Chicago, IL) 1 1

Cottage Hills Night Club (St. Louis, MO) 2 1

101 Ranch (New York, NY) 6 5

Palace Theatre (New York, NY) 7 7

Spa Nite Club (Richmond, IN) 2 1

Chanticler Club (Uniontown, PA) 4 1

La Boheme Club (Los Angeles, CA) 4 3

Club Zombie (Cleveland, OH) 2 2

Jewel Box Club (Kansas City, MO) 3 3

Eldorado (Paramus, NJ) 8 1

Club Flamingo (Palm Beach, FL) 8 1

Samovar (Chicago, IL) 2 1

Hotel Dauphin (Harrisburg, PA) 3 1

Persian Palms (Minneapolis, MN) 7 3

Loew's Metropolitan (New York, NY) 2 1

The Chateau (Rochester, NY) 2 2

Blue Danube (Buffalo, NY) 3 1

Pioneer Nut Club (New York, NY) 7 3

Hollywood Inn (Detroit, MI) 2 1

Bucks County Playhouse (New Hope, PA) 5 5

Latin Quarter (Miami, FL) 4 1

Spruce Cafe (Philadelphia, PA) 3 3

Britwood Club (New York, NY) 5 5

Creole Inn (Chicago, IL) 1 1

Shorty's Place (Jamestown, NY) 6 3

Crystal Caverns (Washington DC) 4 4

Redwood Club (Salinas, CA) 6 1

Little Casino (Binghamton, NY) 1 1

Almarl Cocktail Lounge (Pottstown, PA) 2 1

Music Hall Supper Club (Portland, OR) 2 2

Keith's Temple Theater (Rochester, NY) 4 1

Shea's Theatre (Buffalo, NY) 3 1

Wonder Bar (New Orleans, LA) 1 1

La Vie Parisienne (New York, NY) 4 3

The Bird's Nest (New York, NY) 4 4

Florida Club (New York, NY) 4 4

Five Corners Chateau (Paterson, NJ) 6 4

Tait's At-The-Beach (Los Angeles, CA) 1 1

Tara Club (Downington, PA) 1 1

Estates Casino (Atlantic City, NJ) 4 4

Kit Kat Club 1 1

Giddy's (Asbury Park, NJ) 3 3

Antonio's (Montgomery, AL) 5 1

Playdium (Sheboygan, WI) 3 1

Flamingo Club (Paducah, KY) 3 1

Garden of Allah (Oklahoma City, OK) 1 1

Big Barn (Miami, FL) 3 1

Oliver's Tavern (Lima, OH?) 1 1

Humphrey Grill (Warren, PA) 5 1

Jane's Hideaway Club (Chicago, IL) 5 2

Tobacco Road (Miami, FL) 5 5

Sleepy's Cocktail Lounge (Kenosha, WI) 5 1

C and G Club (Pittsburgh, PA) 3 3

E. F. Albee's Theater (New York, NY) 2 1

Red Shutter Cafe (Boston, MA) 1 1

Frolics (Tampa, FL) 4 1

Club Argonaut (New York, NY) 4 4

Brooklyn Academy of Music (New York, NY) 4 1

Dude Ranch (Washington DC) 4 1

The Palace (New York, NY) 4 4

Cotton's (Buffalo, NY) 2 2

Rudy's Blue Star (Meadville, PA) 1 1

Curly's Theatre Cafe (Minneapolis, MN) 4 4

Green Gables (Pottsville, PA) 1 1

Riviera (Pittsburgh, PA) 1 1

Small's Paradise (New York, NY) 3 3

Hippodrome (New York, NY) 4 4

Torch Club (New York, NY) 2 2

Cotton Club (Sikeston, MO) 3 1

Garrick Theatre (St. Louis, MO) 3 2

Republic Garden (Washington DC) 2 2

Riptide 4 1

Belvedere Club (Echo, LA) 1 1

Three Deuces 3 1

Loew's Theater (Buffalo, NY) 2 1

La Tosca (Milwaukee, WI) 1 1

California Theatre (Petaluma, CA) 3 1

Dixie Inn (Binghamton, NY) 1 1

Bronx Opera House (New York, NY) 1 1

The Roxy Theatre (Atlanta, GA) 4 1

Carteret Club (Asbury Park, NJ) 2 1

Pansy Club (Atlantic City, NJ) 1 1

Little Old New York (New York, NY) 1 1

Andre's Tic-Toc Club (Syracuse, NY) 1 1

Circus Club (Bloomington, IL) 4 1

The Stables (Minneapolis, MN) 1 1

Hugo's Lobby No. 2 (Juarez, Mexico) 2 2

K9 Club (Newark, NJ) 3 1

Club My-O-My (New Orleans, LA) 2 2

Latin Casino 3 1

Mother Kelly's (Miami Beach, FL) 3 1

Hollywood Barn Cafe (Los Angeles, CA) 2 2

Auto Inn (Pittsburgh, PA) 3 1

Odd Fells Hall (Centralia, IL) 1 1

101 Club (New York, NY) 3 3

Idlewild (Chicago, IL) 1 1

Loew Circuit 2 1

Chateau (Rochester, NY) 3 1

Downtown Wagon Wheel (Akron, OH) 3 1

Club Circus (Houston, TX) 1 1

Carnegie Chamber Music Hall (New York, NY) 3 3

Wagon Wheel (Houston, TX) 3 1

Ship Cafe (Los Angeles, CA) 2 1

Rex Bar (St. Louis, MO) 2 2

(New York World's Fair) (New York, NY) 3 1

Playhouse Gardens (Akron, OH) 1 1

Mel Art Club (Phoenix, AZ) 3 1

Greenwich Village Inn (New York, NY) 3 2

Starlit Room (Los Angeles, CA) 3 3

Isle of Capri (Chicago, IL?) 1 1

Club Paree (Hartford, CT) 2 2

Cat and Fiddle (Cincinnati, OH) 3 1

Club Rondevoo 3 1

Club Villa-D (Detroit, MI) 2 2

Playhouse Cabaret (Kansas City, MO) 1 1

Club Frontenac 3 3

Times Square Club (Rochester, NY) 3 1

Frolic Room (San Francisco, CA) 2 1

Club Chateau (Detroit, MI) 2 1

Moroccan Village (New York, NY) 2 2

USA Grill (Wilmington, DE) 3 1

Werba's Brooklyn (New York, NY) 1 1

Delicate Frank's (Miami Beach, FL) 3 3

White Owl Inn (Philadelphia, PA) 3 1

Berkey's (Benton Harbor, MI) 1 1

Montclair (New York, NY) 1 1

616 Club (Green Bay, WI) 3 1

Empress Theatre (Fort Collins, CO) 3 1

Hot Cha Club (New York, NY) 2 1

Miami Steak House 3 1

Coon Chicken Inn (Salt Lake City, UT) 3 3

Clouds Hotel (Honolulu, HI) 3 1

Kaufman's Grill (New York, NY) 1 1

Club Oasis 2 1

Jack Gordon's Melody Room (Los Angeles, CA) 2 1

The Brown Derby (New York, NY) 3 1

The Pelican Club (Stockton, CA) 3 3

Orpheum (Los Angeles, CA) 3 3

RKO Proctor's Theatre (Yonkers, NY) 3 3

Lafayette Theatre (Baltimore, MD) 3 3

The Club (Baltimore, MD) 2 1

Moss' Flatbush Theater (New York, NY) 1 1

Keith-Albee's Madison Theatre (New York, NY) 1 1

Bon Soir (New York, NY) 2 2

Loew's Pitkin Theatre (New York, NY) 2 2

Auby's Lagoon (Miami Beach, FL) 2 2

Ballyhoo Club (Columbus, OH) 2 2

Hollywood Barn (Los Angeles, CA) 2 2

Skyroom (Roseburg, OR) 2 1

Club Trouville (Los Angeles, CA) 2 2

Lenox Club (Baltimore, MD) 2 2

Rainbow Room (Philadelphia, PA) 2 1

Triangle Gardens (New York, NY) 1 1

Elk's Hall/Auditorium (Baltimore, MD) 2 2

Piccadilly Club (Baltimore, MD) 1 1

Topper Cafe (Delaware, NJ) 1 1

544 Bourbon (Los Angeles, CA) 1 1

Gay Nineties (Minneapolis, MN) 2 2

Carnival Lounge (Pittsburgh, PA) 2 2

Lincoln Theatre (Baltimore, MD) 2 2

Gay 90s Cafe (Minneapolis, MN) 2 1

Hugo's Rio Grande Cafe (Juarez, Mexico) 2 2

Club Iroquois (Louisville, KY) 2 1

Village Grove Nut Club (New York, NY) 2 2

West Coast-Walker Theatre (Santa Ana, CA) 2 1

El Morocco 2 1

Back Yard Club (Los Angeles, CA) 2 2

Capitol Theatre (Binghamton, NY) 2 1

Orpheum (Lincoln, NE) 2 1

Ha-Ha Club (Hollywood, FL) 2 1

Frankie 'n' Johnny's (Port Huron, MI) 2 1

Laurence Harbor Inn (Matawan, NJ) 1 1

Blue Ridge Cafe (Wilkes-Barre, PA) 2 1

Nile Theatre (Bakersfield, CA) 2 1

The Glade (Honolulu, HI) 2 2

Ritz Cafe (Chicago, IL) 2 2

The Blackmoor 2 1

Cozy Cabin Club (Chicago, IL) 2 2

Loew's Willard Theatre (New York, NY) 2 1

Midnight Club (Chicago, IL) 2 1

Regent Theatre (Baltimore, MD) 2 2

Hollywood Rendezvous (Los Angeles, CA) 2 2

Pansy Club (New York, NY) 2 2

Club Rendezvous (?) 1 1

Club Granada (Miami, FL) 2 1

Oriental Village (New York, NY) 1 1

Clarke's (Hollywood) (Los Angeles, CA) 2 2

Flamingo Club (New York, NY) 1 1

Five Mile Inn (Chubbuck, ID) 2 1

The Palace Theatre (New York, NY) 2 2

Cinderella Club 2 1

Leon and Eddie's (Miami, FL) 2 1

Downtown Club (Los Angeles, CA) 2 2

Rose Villa Tavern (Benton Harbor, MI) 2 1

Jack's Bar and Grill (New York, NY) 2 1

Regal Theatre (Chicago, IL) 2 2

Carnegie Hall Chambers (New York, NY) 2 2

Spinning Wheel (Kansas City, MO) 1 1

Barbizon-Plaza 2 1

Jones Hideaway 1 1

Loew’s Yonkers Theatre (Yonkers, NY) 1 1

Orpheum Circuit 2 2

Fay's Theater (Rochester, NY) 2 2

Club Le Masque (Chicago, IL) 1 1

Club Stevadora (Detroit, MI) 2 1

Carnegie Hall (New York, NY) 2 2

Ann's 440 Club (San Francisco, CA) 2 2

Club Patio (Buffalo, NY) 2 1

Ritz Lounge (Chicago, IL) 2 2

Loew's Theatre (Yonkers, NY) 2 2

Terrace Club (Lake City, MN) 2 1

Jan Hus Playhouse (New York, NY) 1 1

Keith's Circuit 2 2

Show Boat (Philadelphia, PA) 2 2

Harlem Showboat (Los Angeles, CA) 1 1

The New Stables (Miami, FL) 1 1

Hollywood Barn (Hollywood, FL) 2 2

Sweetheart Theater Bar (Detroit, MI) 2 2

Keith's Theater (Philadelphia, PA) 2 2

Nut Club (Wildwood, NJ) 2 2

Schwartz Hotel (Elkhart Lake, WI) 1 1

Lincoln Theatre (Los Angeles, CA) 1 1

United Nations Club (Ogden, UT) 2 1

Mayfair Theatre (New York, NY) 2 2

Shubert Theatre (New York, NY) 2 2

Diamond Horseshoe (New York, NY) 2 2

The Nite Spot (San Antonio, TX) 2 2

Deer Path Inn (Reading, PA) 1 1

Leghorn Farms (Philadelphia, PA) 1 1

Club Navajo (Colorado Springs, CO) 1 1

Chateau Club (Cleveland, OH) 2 2

The Little Hofbrau (Cleveland, OH) 1 1

(Egypt Temple Shriners) (Tampa, FL) 2 1

Club New Yorker, Christie Hotel (Los Angeles, CA) 2 2

Little Club (Utica, NY) 2 1

? (Springfield, OR) 2 1

Ver's Restaurant & Grill (Lowville, NY) 2 1

Little Club (Glens Falls, NY) 2 1

Mac's Club (Reno, NV) 1 1

Auby's Lagoon (Miami, FL) 2 2

The Rendezvous (Santa Barbara, CA) 2 1

Club Caberns (Washington DC) 2 1

Rialto Theatre (Ironwood, MI) 2 1

The Torch Club (New York, NY) 1 1

Keith's Franklin (New York, NY) 1 1

Orpheum Theatre (Twin Falls, ID) 2 1

Club Flamingo (La Crosse, WI) 2 1

Harlem Casino (Pittsburgh, PA) 2 1

Riviera Theatre Bar (Columbus, OH) 1 1

Apex Grill (Chicago, IL) 1 1

Monogram Theatre (Chicago, IL) 2 2

Lotus Gardens (Cleveland, OH) 2 1

(touring East, via Sablosky office) 1 1

In [ ]:
dates = [y['all_dates'] for x,y in dfs.items()][0]

for period in periodize_dates(dates):
    for date in period:
        print(date.strftime('%Y-%m-%d'))

1931-12-13
1932-02-06
1932-02-26
1932-03-04
1932-03-05
1932-03-07
1932-03-11
1932-03-15
1932-09-16
1933-02-24
1933-11-18
1934-01-18
1934-01-20
1934-01-25
1934-01-27
1934-01-28
1934-02-01
1934-02-03
1934-02-05
1934-02-06
1934-02-07
1934-02-08
1934-03-01
1934-05-19
1934-05-24
1934-06-28
1934-06-29
1934-07-05
1934-07-12
1934-08-02
1934-08-06
1934-08-09
1934-09-06
1934-09-13
1934-10-17
1934-10-18
1934-10-25
1934-11-01
1934-12-13
1934-12-15
1934-12-20
1934-12-27
1935-01-03
1935-01-10
1935-04-14
1935-04-30
1935-06-02
1935-09-26
1935-10-01
1935-11-02
1935-11-05
1935-11-07
1935-11-09
1935-11-14
1935-12-07
1935-12-24
1936-02-08
1936-02-15
1936-02-22
1936-02-29
1936-03-07
1936-03-14
1936-03-21
1936-03-28
1936-04-04
1936-04-11
1936-04-15
1936-05-09
1944-12-06