In [35]:
from datetime import timedelta, datetime
import pandas as pd
import re

In [20]:
day_diff = 7
date = datetime(2020,1,1)

range_start = date + timedelta(days=-day_diff)
range_end = date + timedelta(days=day_diff)

date_range = [range_start + timedelta(days=x) for x in range((range_end-range_start).days + 1)]

date_range

[datetime.datetime(2019, 12, 25, 0, 0),
 datetime.datetime(2019, 12, 26, 0, 0),
 datetime.datetime(2019, 12, 27, 0, 0),
 datetime.datetime(2019, 12, 28, 0, 0),
 datetime.datetime(2019, 12, 29, 0, 0),
 datetime.datetime(2019, 12, 30, 0, 0),
 datetime.datetime(2019, 12, 31, 0, 0),
 datetime.datetime(2020, 1, 1, 0, 0),
 datetime.datetime(2020, 1, 2, 0, 0),
 datetime.datetime(2020, 1, 3, 0, 0),
 datetime.datetime(2020, 1, 4, 0, 0),
 datetime.datetime(2020, 1, 5, 0, 0),
 datetime.datetime(2020, 1, 6, 0, 0),
 datetime.datetime(2020, 1, 7, 0, 0),
 datetime.datetime(2020, 1, 8, 0, 0)]

In [21]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT0E0Y7txIa2pfBuusA1cd8X5OVhQ_D0qZC8D40KhTU3xB7McsPR2kuB7GH6ncmNT3nfjEYGbscOPp0/pub?gid=0&single=true&output=csv')

In [52]:
for ix, row in ((x, y) for x, y in df.iterrows() if re.search('\d{4}\-\d{2}\-\d{2}', str(row['Date']))):
    row['Date']

TypeError: tuple indices must be integers or slices, not str

In [73]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT0E0Y7txIa2pfBuusA1cd8X5OVhQ_D0qZC8D40KhTU3xB7McsPR2kuB7GH6ncmNT3nfjEYGbscOPp0/pub?gid=0&single=true&output=csv')
df = df.fillna('')

already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...
already deleted...

In [75]:
df2 = df.copy()

for ix, row in df.iterrows():
    if not row['Exclude from visualization']:
        df2 = df2.drop(ix)
        
    if not re.search('\d{4}\-\d{2}\-\d{2}', str(row['Date'])):
        try:
            df2 = df2.drop(ix)
        except KeyError:
            print('already deleted...')

,Date,Category,Performer,Normalized performer,Performer first-name,Performer last-name,Venue,City,Normalized City,Revue name,...,Search (fulton),Imported from former archive,Edge Comment,Exclude from visualization,Quote from source,Comment on node: performer,Comment on node: venue,Comment on node: city,Comment on edge: revue,2020-12-31 ID
587,1930-10-15,,,Gypsy Byrne,Gypsy,Byrne,—,"New York, NY","New York, NY",Pansy,...,,Connect New York project,,True,,Male impersonator,,,[a new musical in New York],4371
588,1930-10-15,,,Billie Gerber,Billie,Gerber,—,"New York, NY","New York, NY",Pansy,...,,Connect New York project,,True,,Male impersonator,,,[a new musical in New York],4370
627,1931-01-24,,,Jean Malin,Jean,Malin,Club Rubiyat earlier,—,—,,...,,Queer Music Heritage,,True,,,,,,4439
5703,1942-04-14,,,—,—,—,—,—,—,,...,,,,True,,,,,,6070
5704,1942-04-17,,,—,—,—,—,—,—,,...,,,,True,,,,,,6071
5706,1942-04-28,,,—,—,—,—,—,—,,...,,,,True,,,,,,6072
5723,1942-06-13,,,—,—,—,—,—,—,,...,,,,True,"""Victor Mature says 'Footlight Serenade' will ...",,,,,6073
5736,1942-07-07,,,—,—,—,—,—,—,,...,,,,True,,,,,,6074
5737,1942-07-15,,,Ted Curtis,Ted,Curtis,[warehouse],"Richibucto, New Brunswick, Canada?",—,,...,,Connect New York project,,True,,,,,,4247
5788,1942-08-29,,,—,—,—,—,—,—,,...,,,,True,,,,,,6075
6213,1947-02-05,,,Tim Moore,Tim,Moore,"Boy! What a Girl (film musical),",—,—,,...,,Connect New York project,,True,,,,,,4257
7266,1952-03-29,,,—,—,—,—,—,—,,...,,,,True,,,,,,6078
7796,1965-10-06,,,Ross Hamilton,Ross,Hamilton,(Canadian but toured U.S.),—,—,Dumbbells,...,,Connect New York project,,True,,,,,,4324
7835,1968-04-13,,,T. C. Jones,T. C.,Jones,"(in ""The Name of the Game is Kill"")",—,—,,...,,Connect New York project,,True,,,,,,4329
7879,1976-10-27,,,Jim Bailey,Jim,Bailey,Palladium,London,—,,...,,Connect New York project,,True,,,,,,4335
7881,1978-01-31,,,—,—,—,—,—,—,,...,,,,True,,,,,,6084
7882,1978-05-17,,,Charles Pierce,Charles,Pierce,Country Cousin,"Chelsea, London",—,,...,,Connect New York project,,True,,,,,,4336
7883,1979-08-18,,,—,—,—,—,—,—,,...,,,,True,,,,,,6085
7902,1988-03-02,,,Jim Bailey,Jim,Bailey,Harrah's Marina,"Atlantic City, NJ",—,,...,,Connect New York project,,True,,,,,,4339

In [ ]:
df2

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vT0E0Y7txIa2pfBuusA1cd8X5OVhQ_D0qZC8D40KhTU3xB7McsPR2kuB7GH6ncmNT3nfjEYGbscOPp0/pub?gid=0&single=true&output=csv')
df

In [81]:
df.drop(df[df['Exclude from visualization'] == True].index, inplace = True)

In [82]:
df

,Date,Category,Performer,Normalized performer,Performer first-name,Performer last-name,Venue,City,Normalized City,Revue name,...,Search (fulton),Imported from former archive,Edge Comment,Exclude from visualization,Quote from source,Comment on node: performer,Comment on node: venue,Comment on node: city,Comment on edge: revue,2020-12-31 ID
0,1901-02-12,,,—,—,—,—,—,—,,...,,,,,,,,,,6086
1,1904-04-30,,,—,—,—,—,—,—,,...,,,,,,,,,,6087
2,1918,,,Ray Francis,Ray,Francis,Lyric Theatre,"Indianapolis, IN","Indianapolis, IN",,...,,Queer Music Heritage,,,,,,,,4624
5,1931,,,Jean Malin,Jean,Malin,Club Argonaut,"New York, NY","New York, NY",,...,,Queer Music Heritage,,,,,,,,4444
6,1931,,,Jean Malin,Jean,Malin,Club Argonaut,"New York, NY","New York, NY",,...,,Queer Music Heritage,,,,,,,,4445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7990,,,,—,—,—,—,—,—,,...,,,,,,,,,,
7991,,,,—,—,—,—,—,—,,...,,,,,,,,,,
7992,,,,—,—,—,—,—,—,,...,,,,,,,,,,
7993,,,,—,—,—,—,—,—,,...,,,,,,,,,,
7994,,,,—,—,—,—,—,—,,...,,,,,,,,,,