In [1]:
import datetime
from dataset.meta import log
from dataset.getting import get_raw_data, get_clean_network_data
from dataset.cleaning import drop_by_value

In [2]:
df = get_raw_data()

,Date,Category,Performer,Normalized performer,Performer first-name,Performer last-name,Venue,Normalized Venue,City,Normalized City,...,Comment on node: city,Comment on edge: revue,Blackface,Sepia,Fan dancer/Sally Rand,Exotic/erotic/oriental dancer/Gypsy,Has image,Address,Vaudeville Circuit/Circus,Unsure whether drag artist
0,1936-06-25,,Francis Rennult,Francis Renault,Francis,Renault,,,"Youngstown, OH","Youngstown, OH",...,,,,,,,,,,
1,1936-03-14,,Manhattan Pearl,Manhattan Pearl,Manhattan,Pearl,Javo Jungle Club,Javo Jungle Club,"Pittsburgh, PA","Pittsburgh, PA",...,,,,,,,TRUE,,,
2,1935-04-13,,Manhattan Pearl,Manhattan Pearl,Manhattan,Pearl,"(A ""Little Harlem"" Spot?)",,,,...,,,,,,,,,,
3,1936-07-18,,Mickey Nelson,Mickey Nelson,Mickey,Nelson,,,,,...,,"no other names, but mentions 14 people",,,,,,,,
4,1935-01-30,,Francis Renault,Francis Renault,Francis,Renault,Cameo Theatre,Cameo Theatre,"Bristol, CT","Hartford, CT",...,Corroborated by http://cinematreasures.org/the...,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9893,1938-02-10,,,Unnamed performer at Garden of Allah 1,Unnamed performer at Garden of Allah 1,,Garden of Allah,Garden of Allah,"Oklahoma City, OK","Oklahoma City, OK",...,,,,,,,,"2900 SW 29th St, Oklahoma City, OK",,
9894,1938-02-10,,,Unnamed performer at Garden of Allah 2,Unnamed performer at Garden of Allah 2,,Garden of Allah,Garden of Allah,"Oklahoma City, OK","Oklahoma City, OK",...,,,,,,,,"2900 SW 29th St, Oklahoma City, OK",,
9895,1938-02-10,,,Unnamed performer at Garden of Allah 3,Unnamed performer at Garden of Allah 3,,Garden of Allah,Garden of Allah,"Oklahoma City, OK","Oklahoma City, OK",...,,,,,,,,"2900 SW 29th St, Oklahoma City, OK",,
9896,1935-11-30,,,Verne Valdez,Verne,Valdez,Frolic Inn,Frolic Inn,"Hollywood, CA","Los Angeles, CA",...,,,,,,,,,,
9897,1930-10-08,,,,,,Unnamed venue 1,Unnamed venue 1,"New York City, NY","New York, NY",...,,,,,,,,384 Park Avenue,,

In [8]:
df = get_clean_network_data(
    df,
    min_date=datetime.datetime(year=1930, month=1, day=1),
    max_date=datetime.datetime(year=1940, month=12, day=31),
    drop_cols = []
)

,Date,Performer,City,Venue,Source,Unsure whether drag artist,Revue
0,1936-03-14,Manhattan Pearl,"Pittsburgh, PA","Javo Jungle Club (Pittsburgh, PA)","The Pittsburgh Courier, p. 17 (March 14, 1936)",,
1,1935-04-13,Manhattan Pearl,,"(A ""Little Harlem"" Spot?)","Pittsburgh Post-Gazette, p. 8 (April 13, 1935)",,
2,1935-01-30,Francis Renault,"Hartford, CT","Cameo Theatre (Hartford, CT)","Hartford Courant, p. 9 (January 30, 1935)",,
3,1935-02-23,Jean La Rae,"Allentown, PA","Lighthouse Tavern (Allentown, PA)","The Morning Call, p. 12 (February 23, 1935)",,
4,1936-05-14,Francis Renault,"Akron, OH","Torch Club (Akron, OH)","The Evening Independent, p. 11 (May 14, 1936)",,Francis Renault's Slave of Fashion Revue
...,...,...,...,...,...,...,...
7054,1952-07-28,Tanya Del Ray,"Pottsville, PA","Circle Bar (Pottsville, PA)","Pottsville Republican, July 28, 1952, 2",,
7055,1938-02-10,Unnamed performer at Garden of Allah 1,"Oklahoma City, OK","Garden of Allah (Oklahoma City, OK)","The Daily Oklahoman (Oklahoma City, Oklahoma)1...",,Garden of Allah's All-Boy Revue
7056,1938-02-10,Unnamed performer at Garden of Allah 2,"Oklahoma City, OK","Garden of Allah (Oklahoma City, OK)","The Daily Oklahoman (Oklahoma City, Oklahoma)1...",,Garden of Allah's All-Boy Revue
7057,1938-02-10,Unnamed performer at Garden of Allah 3,"Oklahoma City, OK","Garden of Allah (Oklahoma City, OK)","The Daily Oklahoman (Oklahoma City, Oklahoma)1...",,Garden of Allah's All-Boy Revue
7058,1935-11-30,Verne Valdez,"Los Angeles, CA","Frolic Inn (Los Angeles, CA)","The Billboard, Nov 30, 1935, 14",,

In [9]:
df.drop(
    [
        'Category',
        'Normalized performer',
        'Performer first-name',
        'Performer last-name',
        'Venue',
        'City',
        'Normalized City'
    ], axis=1, inplace=True)

In [10]:
drop_by_value(df, columns=['Performer'], strings=['unnamed'])

,Date,Performer,Normalized Venue,Revue name,Normalized Revue Name,Legal name,Alleged age,Assumed birth year,Source,Source clean,...,Sepia,Fan dancer/Sally Rand,Exotic/erotic/oriental dancer/Gypsy,Has image,Address,Vaudeville Circuit/Circus,Unsure whether drag artist,has_required_data,has_correct_date,Revue
0,1936-03-14,Manhattan Pearl,Javo Jungle Club,,,,,,"The Pittsburgh Courier, p. 17 (March 14, 1936)",,...,,,,TRUE,,,,True,True,
1,1935-04-13,Manhattan Pearl,,,,,,,"Pittsburgh Post-Gazette, p. 8 (April 13, 1935)",,...,,,,,,,,True,True,
2,1935-01-30,Francis Renault,Cameo Theatre,,,,,,"Hartford Courant, p. 9 (January 30, 1935)",,...,,,,,,,,True,True,
3,1935-02-23,Jean La Rae,Lighthouse Tavern,,,,,,"The Morning Call, p. 12 (February 23, 1935)",,...,,,,,,,,True,True,
4,1936-05-14,Francis Renault,Torch Club,,Francis Renault's Slave of Fashion Revue,,,,"The Evening Independent, p. 11 (May 14, 1936)",,...,,,,,,,,True,True,Francis Renault's Slave of Fashion Revue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5064,1935-11-30,Karlon Owens,Frolic Inn,,,,,,"The Billboard, Nov 30, 1935, 14","The Billboard, Nov 30, 1935, 14",...,,,,,,,,True,True,
5065,1937-03-28,Peter Joray,Little Theatre,,,,,,"El Paso Times (El Paso, Texas)28 Mar 1937, Sun...","El Paso Times (El Paso, Texas)28 Mar 1937, Sun...",...,,,,,,,,True,True,
5066,1937-04-15,Peter Joray,Little Theatre,,,,,,"El Paso Times (El Paso, Texas)15 Apr 1937, Thu...","El Paso Times (El Paso, Texas)15 Apr 1937, Thu...",...,,,,,,,,True,True,
5067,1933-04-15,Rocky,Club New Yorker,Rocky Twins,,,,,"The Billboard, Apr 15, 1933, 19","The Billboard, Apr 15, 1933, 19",...,,,,,,,,True,True,Rocky Twins
5071,1935-11-30,Verne Valdez,Frolic Inn,,,,,,"The Billboard, Nov 30, 1935, 14","The Billboard, Nov 30, 1935, 14",...,,,,,,,,True,True,

In [6]:
import pandas as pd
import datetime

In [7]:
# Step 1. Get dataset

from dataset.getting import get_clean_network_data
df = get_clean_network_data()

# Step 2. Filter by dates
from dataset.filtering import filter_by_date
df = filter_by_date(df, start_year=1930, end_year=1940)

In [8]:
# Step 3. Clean unnamed performers

from dataset.cleaning import drop_by_value
df = drop_by_value(df, columns=["Performer"], strings=["unnamed"])

In [10]:
# Step 4. Get geolocated performers (by year)

from dataset.processed_data import get_geolocated_performers
geolocated_performers = get_geolocated_performers(df, start_year=1930, end_year=1940)  # download_geodata=True

In [11]:
# Step 5. Write them to a CSV file

with open('geo-app/data/geolocated_performers.csv', 'w+') as f:
    f.write(geolocated_performers.to_csv(index=False))